{% extends "base_cliente.html" %}
{% block title %} Sobre nosotros {% endblock %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="../../static/css/style-nosotros.css">
{{ super() }}
{% endblock %}


{% block content %}
<main>
  <div class="container">
      <div class="text">
          <h1>Evolucion</h1>
          <p>Estamos del lado de la vida. <br>
              Proveemos protección, salud, seguridad, cuidado y prevención. Cambiamos permanentemente, evolucionamos, investigamos, sumamos <br> fuerza para ir siempre hacia el futuro. <br>
              Crecemos... <br>
              Simplemente, porque la vida cambia, evoluciona, suma fuerza y crece.</p>
      </div>
      <div class="text">
          <h1>Mision y vision</h1>
          <p>
              Ser una empresa sustentada en la calidad de los productos, los servicios y el trato. <br>
              Establecer fuertes vinculos con todas las partes que intervienen en nuestro trabajo: clientes, empleados, colegas, profesionales, proveedores... <br>
              Que nuestros productos sean una primera opción a la hora de recomendar o aplicar un medicamento veterinario. <br>
              Introducirnos en el resto del mundo, contar con un crecimiento sostenido en el mercado local e internacional.
          </p>
      </div>
      <div class="text">
          <h1>Nuestro compromiso</h1>
          <p>
              Crear, crecer, innovar, desarrollar... Y no sólo buenos productos, sino buenas relaciones humanas, vocación de servicio y búsqueda de beneficios mutuos. <br>
              Fortalecer las bases de las relaciones duraderas <br>
              Es parte de nuestra filosofia de vida y es nuestro orgullo el hecho de que usted nos elija, para trabajar juntos en el desarrollo de la productividad. <br>
              Estamos del lado de la vida.
          </p>
      </div>
  </div>
  
</main>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}